* {
    padding: 0;
    margin: 0;
    
}

body {
    height: 100vh;
    width: 100%;
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
}

.app {
    width: 550px;
    height: 650px;
    background-color: #f1f1f1;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(3, 1fr);
    background: #1D2B64;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #2b2f3a, #1D2B64);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top,  #2b2f3a, #1D2B64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border: 2px solid #f1f1f1;



}

.app h1 {
    grid-area: 1 / 1 /1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}

.situation {
    grid-area: 2 / 1 /3 / 4;
    display: grid;
    grid-template: repeat(2, 1fr);
    border-bottom: 1px solid #f1f1f1;


}

.situation h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    display: flex;
    margin: 10px 0 10px 40px;
   
}

.checkbox input {
    margin-left: 10px;
}